 /* .header{
    width:20%;
    border-radius:8px;
    border-style:none;
    background-Color:FLORALWHITE;

    
}

 .submit{
    background-Color:dodgerblue;
    width:10%;
}
 .cancel{
    background-Color:red;
    width:10%;
    float:left;
    margin-Right:5px;
}


 .div{
    width:100%;
    border:4px solid #FAEBD7;
    padding:20px;
    box-Shadow: 5px 10px 8px #888888;
    font-Weight:bold;
    color:black;
  
  } */